<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'Home', root_path %> > Help
    </div>
  </div>
</div>
<div class="container">
    <p>
      <br />
      <br />
      <br />
    <center>
    <%= image_tag("fastjax.jpg") %>
    </center>
    </p>
    <p>
    </p>
</div>