<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'Home', root_path %> > help
    </div>
  </div>
</div>
<div class="container">
    <p>
      <br />
      <br />
      <br />
    <center>
    <%= image_tag("fastjax.jpg") %>
    </center>
    </p>
    <p>FastJax is the world's first Internet based city utility. FastJax offers you instant connectivity with highly targeted information that is
a vital part of your day. We have segmented every city in the world; as a result, you have a vast array of information to help you make better 
choices. At the top, you can change cities and explore other information on goods, services, and stay connected! If you want to take things to the
next level, sign up for a user account and have your personal dashboard assist you with sorting through the information you value daily!
    </p>
</div>