<div class="container-fluid">
    <div class="row">
         <div class="col-md-12">
                <center>
                <%= image_tag("fastjax.jpg", class: "img-responsive") %>
                <center>
          </div>
    </div>
        <div class="row">
          <div class="col-md-1">
               <%= link_to 'Air Conditioning', category_path(@air_conditioning_category) %>
          </div>
          <div class="col-md-1">
                <%= link_to 'Boutiques', category_path(@boutiques_category) %>
          </div>
          <div class="col-md-1">
               <%= link_to 'Bakeries', category_path(@bakeries_category) %>
          </div>
    </div>
</div>